* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blue: #314584;
$red: #ff3946;
$blue_hover: #1742ce;
$bold: 700;
$timer: 0.3s;
$distancia_en_alto: 85px;

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: $blue;
  overflow-x: hidden !important;
  position: relative;

  .shadow_1 {
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    background: url("../img/shadow_1.gif") no-repeat;
    width: 925px;
    height: 988px;
  }

  .shadow_2 {
    top: 1056px;
    left: 0;
    z-index: -1;
    position: absolute;
    background: url("../img/shadow_2.gif") no-repeat;
    width: 279px;
    height: 967px;
  }

  .shadow_3 {
    top: 1408px;
    right: 0;
    z-index: -1;
    position: absolute;
    background: url("../img/shadow_3.gif") no-repeat;
    width: 337px;
    height: 859px;
  }
}

h2 {
  color: $blue;
  font-size: 45px;
  margin-bottom: 50px;
}

a {
  color: $blue;
  transition: color $timer ease-in-out;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue_hover;
  }
}

header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
      img {
        width: 59px;
        height: 30px;
      }
      margin-right: 51px;
    }
    nav {
      ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 38px;

          a {
            display: block;
            width: 100%;
            font-weight: $bold;
          }
        }
      }
    }
  }

  > a {
    color: $red;
    padding: 16px 42px;
    background-color: white;
    box-shadow: 0px 7px 17px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all $timer ease-in-out;
    font-weight: $bold;
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      margin-right: 16px;
    }

    > img {
      transition: all $timer ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: $red;
      color: white;

      > img {
        filter: brightness(100);
      }
    }
  }
}

.hero {
  position: relative;
  margin-top: $distancia_en_alto;
  width: 100%;
  min-height: 987px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .hero_img {
    z-index: -1;
    top: 0;
    right: -277px;
    position: absolute;
  }

  .title {
    max-width: 550px;

    h1 {
      color: $blue;
      font-size: 70px;
    }

    p {
      margin-top: 50px;
      display: block;
      width: 100%;
      color: #6e757a;
      font-size: 20px;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 50px;

      .btn,
      .btn-nobg {
        font-size: 18px;
      }

      .btn {
        margin-right: 37px;
      }

      .btn-nobg {
        font-weight: $bold;
      }
    }
  }
}

.services {
  width: 100%;
  min-height: 626px;

  .title {
    padding-right: 20px;
  }

  .btn {
    font-size: 14px;
  }

  .box {
    min-height: 384px;
    padding-right: 54px;
    max-width: 320px;

    > img {
      margin-left: 25px;
      margin-bottom: 65px;
    }

    > h5 {
      color: $blue;
      font-weight: $bold;
      font-size: 33px;
      margin-bottom: 44px;
    }

    > p {
      color: $blue;
      line-height: 25px;
    }
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    margin-right: 70px;
  }

  .title {
    .mini-title {
      color: $red;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      width: 100%;
      font-weight: $bold;
      margin-bottom: 35px;
    }

    h2 {
      max-width: 350px;
    }

    p {
      color: $blue;
      font-size: 15px;
      display: block;
      width: 100%;
      margin-bottom: 57px;
    }

    .arrows {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        cursor: pointer;
        opacity: 0.6;
        transition: all $timer ease-in-out;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }

      .left {
        margin-right: 55px;
      }
    }
  }
}

.box {
  background: white;
  min-height: 349px;
  padding: 32px 47px;
  box-shadow: 0px 7px 17px -5px rgba(0, 0, 0, 0.1);
}

.btn {
  color: white;
  background-color: $red;
  padding: 15px 36px;
  text-align: center;
  border-radius: 25px;
  transition: all $timer ease-in-out;
  font-weight: $bold;
  box-shadow: 0px 7px 17px -5px rgba(253, 0, 0, 0.075);

  &:hover,
  &:focus {
    color: $red;
    background-color: white;
    box-shadow: 0px 7px 17px -5px rgba(0, 0, 0, 0.1);
  }
}
